.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-text);
  font-size: 14px;
}
.wrapper > input,
.wrapper > input:focus {
  font-size: 15px;
  width: 150px;
  margin: 0;
  padding: 10px;
  outline: none;
  background-color: var(--color-2);
  border-radius: 10px;
  border: 0;
  color: var(--color-text);
}

.button {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: normal;
}

.wrapper p {
  text-decoration: underline;
}

.wrapper p:hover {
  cursor: pointer;
}
