.animeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  padding: 7.5px 15px;
  border-radius: 15px;

  background-color: var(--color-3);
  color: var(--color-text);
}

.animeContainer p {
  margin: 0;
  white-space: nowrap;
}

.animeContainer > svg {
  font-size: 25px;
  margin-left: 7.5px;
  padding: 2.5px;

  min-width: 25px;
  min-height: 25px;

  transition: 0.2s;
}

.animeContainer > svg:hover {
  background-color: var(--color-2);
  border-radius: 50%;
  transition: 0.2s;
}
