.animeListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scrollContainer {
  max-width: 50%;
  gap: 15px;
  display: flex;
}

.mobileScrollContainer {
  max-width: 100%;
}
