.animeListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.noItems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--color-text);
  font-size: 50px;
  text-align: center;
}
